[submodule "chapter1"]
	path = chapter1
	url = git@github.com:AI-Robot-Book-Humble/chapter1.git
	update = none
	ignore = all
[submodule "external/go2_ros2_sim_py"]
	path = external/go2_ros2_sim_py
	url = https://github.com/abutalipovvv/go2_ros2_sim_py.git
[submodule "external/unitree_ros2"]
	path = external/unitree_ros2
	url = https://github.com/unitreerobotics/unitree_ros2.git
